[[inputs.docker]]
  # Docker Endpoint
  #   To use TCP, set endpoint = "tcp://[ip]:[port]"
  #   To use environment variables (ie, docker-machine), set endpoint = "ENV"
  endpoint = "{{ docker_endpoint }}"
  # Only collect metrics for these containers, collect all if empty
  container_names = [{{ docker_containers | join(',') }}]
